.repartition {
    display: grid;

    grid-template-areas:
        "d m";

    grid-template-columns: 4fr 10fr;

    padding: 3%;
}

.dialogPeople {
    grid-area: d;
    border-right: 1px solid rgb(153, 152, 115);
    height: auto;
}

.dialogs {
    grid-area: m;
    margin-left: 10%;
    margin-top: 5%;
}
