.pfpAndDetails {
  display: grid;
  grid-template-areas:
    'p d'
    'j d';

  grid-template-columns: 1fr 2fr;
}

.jobInfo {
  grid-area: j;
}

.pfp {
  background-color: rgb(102, 100, 154);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(164, 174, 206);
  display: block;
  grid-area: p;
}

.pfp img {
  width: 20rem;
}

.details {
  background-color: rgb(102, 100, 154);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(164, 174, 206);
  grid-area: d;
  display: grid;
  margin-left: 5%;

  grid-template-areas:
    'u u'
    's c';
}


.username {
  color: white;
  font-size: 210%;
  text-align: center;
  grid-area: u;
}


.status {
  grid-area: s;
}

.contacts {
  margin-top: -2rem;
  grid-area: c;
}


