.chosenPage {
  font-weight: bold;
}

.page {
  font-size: 100%;
}

.pages {
  color: white;
  cursor: pointer;
  font-size: 135%;
}

.loadImg {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17%;
}
