.friendList {
  margin-top: 30%;
}

.friendItem img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.friendItem {
  margin-bottom: 7%;
  margin-left: 2%;
  margin-right: 2%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.friendName {
  margin-top: 10%;
  margin-left: 3%;
  color: white;
  font-size: 1rem;
  text-align: left;
}

.friendsText {
  color: white;
  margin-bottom: 7%;
  font-size: 1.25rem;
}

.friendElems {
  display: grid;
  color: white;
  grid-template-columns: 1fr;
}
