.all {
    margin-top: -8%;
}

.descriptionText {
    color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
}

.descriptionEdit {
    margin-top: 1%;
    margin-left: 1%;
    width: fit-content;
    height: fit-content;
}

.isOwner:hover {
    background-color: rgba(21, 12, 94, 0.28);
}