.all {
    margin-top: -2rem;
}

.button {
    display: block;
    margin: 0.25% auto 5%;
    width: 46%;
}

.newPost {
    color: white;
    font-size: 150%;
    margin-top: 5%;
    margin-bottom: 1.5%;
    margin-right: 34%;
    text-align: center;

}

.textarea {
    width: 25.5rem;
    height: 1.2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    border-width: 0;
}