.banner {
  width: 111%;
  height: 250px;
  margin-bottom: 1%;
  margin-left: -5.5%;
  margin-top: -1%;
}

.pfpAndDetails {
  display: grid;
  grid-template-areas:
    'p d'
    'j d';

  grid-template-columns: 1fr 2fr;
}

.pfp {
  background-color: rgb(102, 100, 154);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(164, 174, 206);
  display: block;
  grid-area: p;
}

.details {
  background-color: rgb(102, 100, 154);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(164, 174, 206);
  grid-area: d;
  display: grid;
  margin-left: 5%;
}

.username {
  color: white;
  font-size: 210%;
}

