.banner {
  width: 111%;
  height: 250px;
  margin-bottom: 1%;
  margin-left: -5.5%;
  margin-top: -1%;
}

.pfpAndDetails {
  display: grid;
  grid-template-areas:
    'p d'
    'p d'
    'j d';

  grid-template-columns: 2fr 3fr;
}

.pfp img {
  margin-left: 6%;
  width: 45%;
  height: 100%;
  display: block;
  grid-area: p;
}

.details {
  grid-area: d;
  margin-left: -20%;
  display: grid;
}

.username {
  color: white;
  font-size: 210%;
}

.description {
  margin-top: -1%;
  font-size: 140%;
  color: white;
}