.item {
    color: white;
}

.item img {
    width: 5%;
    border-radius: 100%;
}

.text {
    margin-top: -3.5%;
    margin-left: 6%;
}

.likeCount {
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 6%;
}