
.email {
    margin-bottom: 0.5rem;

}

.password {
    margin-bottom: 0.5rem;
}

.rememberMe {
    margin-bottom: 0.5rem;
}

.loginText {
    color: white;
}

.loginButton {
    display: block;
    width: 11rem;
}

.captcha {
    margin-top: 1rem;
}

.captcha img {
    margin-bottom: 0.5rem;
}