.app-wrapper {
  display: grid;

  width: 1200px;
  margin: 0 auto;

  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: c;
  background-color: cornflowerblue;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, rgb(74, 78, 138), rgb(160, 160, 67));
}

.app-wrapper-content-formating {

  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1%;

}